In [1]:
import numpy as np
import pandas as pd

In [2]:
df =pd.read_excel("C:\Coding\Data-analytics-portfolio\Jupyter\Day_6\Datasets-main\ESD.xlsx")
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [3]:
df.loc[(df["Bonus %"] == 0), "GetBonus"]= "no bonus"
df.loc[(df["Bonus %"] > 0, "GetBonus")]= "bonus"
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  GetBonus
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

[1000 rows x 15 columns]

In [4]:
df["Full Role"] = df["Full Name"] + " "+ df["Department"]
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  GetBonus  \
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

                  Full Role
0            Emily Davis IT
1          Theodore Dinh IT
2      Luna Sanders Finance
3        Penelope Jordan IT
4         Austin Vo Finance
..                      ...
995  Wesley Young Marketing
996    Lillian Khan Finance
997   Oliver Yang Marketing
998     Lily Nguyen Finance
999  Sofia Cheng Accounting

[1000 rows x 16 columns]

In [5]:
a=pd.DataFrame(df)
print(a)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  GetBonus  \
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

                  Full Role
0            Emily Davis IT
1          Theodore Dinh IT
2      Luna Sanders Finance
3        Penelope Jordan IT
4         Austin Vo Finance
..                      ...
995  Wesley Young Marketing
996    Lillian Khan Finance
997   Oliver Yang Marketing
998     Lily Nguyen Finance
999  Sofia Cheng Accounting

[1000 rows x 16 columns]

In [6]:
def extract(value):
    return value[0:5]
a["Short_Name"]= a["Full Name"].map(extract)
print(a)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  GetBonus  \
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

                  Full Role Short_Name
0            Emily Davis IT      Emily
1          Theodore Dinh IT      Theod
2      Luna Sanders Finance      Luna
3        Penelope Jordan IT      Penel
4         Austin Vo Finance      Austi
..                      ...        ...
995  Wesley Young Marketing      Wesle
996    Lillian Khan Finance      Lilli
997   Oliver Yang Marketing      Olive
998     Lily Nguyen Finance      Lily
999  Sofia Cheng Accounting      Sofia

[1000 rows x 17 columns]

In [7]:
data=pd.read_excel("C:\Coding\Data-analytics-portfolio\Jupyter\Day_6\Datasets-main\ESD.xlsx")

In [8]:
print(data.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
5     0.00          China  Chongqing        NaT
6     0.10  United States    Phoenix        NaT
7     0.00  United States      Miami 2021-05-20
8     0.06  United States     Austin        NaT
9     0.00  United States    Chicago        NaT

In [9]:
gp = data.groupby("Department").agg({"Gender":"count"})
print(gp)

                 Gender
Department
Accounting           96
Engineering         158
Finance             120
Human Resources     125
IT                  241
Marketing           120
Sales               140

In [10]:
gp = data.groupby(["Department","Gender"]).agg({"Gender":"count"})
print(gp)

                        Gender
Department      Gender
Accounting      Female      53
                Male        43
Engineering     Female      80
                Male        78
Finance         Female      69
                Male        51
Human Resources Female      64
                Male        61
IT              Female     119
                Male       122
Marketing       Female      57
                Male        63
Sales           Female      76
                Male        64

In [11]:
gp1 = data.groupby("Country").agg({"Age":"mean"})
print(gp1)

                     Age
Country
Brazil         43.654676
China          45.389908
United States  44.197512

In [12]:
gp1 = data.groupby("Country").agg({"Annual Salary":"mean"})
print(gp1)

               Annual Salary
Country
Brazil         112324.834532
China          113823.532110
United States  113204.794712

In [13]:
gp1 = data.groupby("Country").agg({"Annual Salary":"max"})
print(gp1)

               Annual Salary
Country
Brazil                258426
China                 257194
United States         258498

In [14]:
gp1 = data.groupby(["Country","Gender"]).agg({"Annual Salary":"mean"})
print(gp1)

                      Annual Salary
Country       Gender
Brazil        Female  111343.733333
              Male    113474.562500
China         Female  113904.908257
              Male    113742.155963
United States Female  112012.964072
              Male    114493.051780

In [16]:
gp1 = data.groupby(["Country","Gender"]).agg({"Annual Salary":"mean","Age":"min"})
print(gp1)

                      Annual Salary  Age
Country       Gender
Brazil        Female  111343.733333   25
              Male    113474.562500   26
China         Female  113904.908257   25
              Male    113742.155963   25
United States Female  112012.964072   25
              Male    114493.051780   25

In [18]:
import pandas as pd

data1 = {"Emp Id":["E01", "E02","E03","E04","E05","E06"],
"Names": ["Ram","Shyam", "Rahul","Vishal","Ravi", "John"],
"Age": [34,56, 23,44, 32, 36]}

data2 = {"Emp Id":["E01", "E02","E03","E04","E05","E06"],
"Salary":[45000,56000, 34000, 30000, 50000, 62000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

#print(df1)
print(df2)
print(df2)

  Emp Id  Salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   30000
4    E05   50000
5    E06   62000
  Emp Id  Salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   30000
4    E05   50000
5    E06   62000

In [21]:
print(pd.merge(df1,df2,on = "Emp Id"))

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E02   Shyam   56   56000
2    E03   Rahul   23   34000
3    E04  Vishal   44   30000
4    E05    Ravi   32   50000
5    E06    John   36   62000

In [30]:
import pandas as pd

data1 = {"Emp Id":["E01", "E02","E03","E04","E05","E06"],
"Names": ["Ram","Shyam", "Rahul","Vishal", "Ravi", "John"],
"Age":[34,56,23,44, 32, 36]}

data2 = {"Emp Id":["E07", "E08","E09","E10","E11","E12"],
"Names": ["Shyam","Suraj","Sahul","Sukal","Kavi", "don"],
"Age":[34,56,23,44, 32, 36]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [31]:
print(pd.concat([df1,df2]))

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
0    E07   Shyam   34
1    E08   Suraj   56
2    E09   Sahul   23
3    E10   Sukal   44
4    E11    Kavi   32
5    E12     don   36

In [33]:
dict = {"Fruits":["mango","apples","banana","papaya"],
"Price":[100,150,50,35],
"Quantity":[15,10,10,3]}

df1 = pd.DataFrame(dict)
print (df1)

df2 = df1.copy()

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     50        10
3  papaya     35         3